# уровень логирования
LOG_LEVEL=info

# адрес Сервера для локального запуска
ADDRESS=localhost:8080

# JSON-конфиг Клиента для локальной разработки
# CONFIG=configs/client.example.json

# параметры локального PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gopherkeeperdb
POSTGRES_USER=gopherkeeper
POSTGRES_PASSWORD=password

# JWT для локальной разработки
# сгенерировать: make gen-jwt-secret
JWT_SECRET=
JWT_TTL=15m
